

"===============================================================================
" Settings
"===============================================================================
set surround
set multiple-cursors

set number
set relativenumber
set incsearch
set matchpairs

"===============================================================================
" Key-Maps
"===============================================================================
let mapleader=" "

nnoremap ; :
nnoremap : ;
vnoremap ; :

" Basic Edit {{{
    " 回退操作
    nnoremap <S-u> <C-r>
    " 大小写转换
    nnoremap <leader>u ~
    vnoremap <leader>u ~
    nnoremap <leader>gu g~
    " 矩形选择
    nnoremap vv <C-v>
    vnoremap vv <C-v>
    " 加减序号
    nnoremap <C-h> <C-x>
    vnoremap <leader><C-h> g<C-x>
    nnoremap <C-l> <C-a>
    vnoremap <leader><C-l> g<C-a>
    " 全屏
    nnoremap <leader>tf :action ToggleFullScreen<CR>
    " Surround
    nmap <leader>sd ds
    nmap <leader>sc cs
    nmap <leader>s ys
    nmap <leader>s ys
    vmap s S
    " multiple-cursors
    nmap <C-n> <A-n>
    vmap <C-n> <A-n>
    nmap <C-x> <A-x>
    vmap <C-x> <A-x>
    nmap <C-p> <A-p>
    vmap <C-p> <A-p>
" }}}

" Copy and paste{{{
    vnoremap <leader>y ygv
    vnoremap <C-c> "+y
    nnoremap <C-v> "+p
    inoremap <C-v> <Esc>"+pi
    " 粘贴通过y复制的内容
    nnoremap <leader>p "0p
    nnoremap <leader>P "0P

    vnoremap <leader>'0 "0y
    vnoremap <leader>'1 "1y
    vnoremap <leader>'2 "2y
    vnoremap <leader>'3 "3y
    vnoremap <leader>'4 "4y
    vnoremap <leader>'5 "5y
    vnoremap <leader>'6 "6y
    vnoremap <leader>'7 "7y
    vnoremap <leader>'8 "8y
    vnoremap <leader>'9 "9y
    nnoremap <leader>'0 "0p
    nnoremap <leader>'1 "1p
    nnoremap <leader>'2 "2p
    nnoremap <leader>'3 "3p
    nnoremap <leader>'4 "4p
    nnoremap <leader>'5 "5p
    nnoremap <leader>'6 "6p
    nnoremap <leader>'7 "7p
    nnoremap <leader>'8 "8p
    nnoremap <leader>'9 "9p
    vnoremap <leader>'a "ay
    vnoremap <leader>'b "by
    vnoremap <leader>'c "cy
    vnoremap <leader>'d "dy
    vnoremap <leader>'e "ey
    vnoremap <leader>'f "fy
    vnoremap <leader>'g "gy
    vnoremap <leader>'h "hy
    vnoremap <leader>'i "iy
    vnoremap <leader>'j "jy
    vnoremap <leader>'k "ky
    vnoremap <leader>'l "ly
    vnoremap <leader>'m "my
    vnoremap <leader>'n "ny
    vnoremap <leader>'o "oy
    vnoremap <leader>'p "py
    vnoremap <leader>'q "qy
    vnoremap <leader>'r "ry
    vnoremap <leader>'s "sy
    vnoremap <leader>'t "ty
    vnoremap <leader>'u "uy
    vnoremap <leader>'v "vy
    vnoremap <leader>'w "wy
    vnoremap <leader>'x "xy
    vnoremap <leader>'y "yy
    vnoremap <leader>'z "zy
    nnoremap <leader>'a "ap
    nnoremap <leader>'b "bp
    nnoremap <leader>'c "cp
    nnoremap <leader>'d "dp
    nnoremap <leader>'e "ep
    nnoremap <leader>'f "fp
    nnoremap <leader>'g "gp
    nnoremap <leader>'h "hp
    nnoremap <leader>'i "ip
    nnoremap <leader>'j "jp
    nnoremap <leader>'k "kp
    nnoremap <leader>'l "lp
    nnoremap <leader>'m "mp
    nnoremap <leader>'n "np
    nnoremap <leader>'o "op
    nnoremap <leader>'p "pp
    nnoremap <leader>'q "qp
    nnoremap <leader>'r "rp
    nnoremap <leader>'s "sp
    nnoremap <leader>'t "tp
    nnoremap <leader>'u "up
    nnoremap <leader>'v "vp
    nnoremap <leader>'w "wp
    nnoremap <leader>'x "xp
    nnoremap <leader>'y "yp
    nnoremap <leader>'z "zp
    nnoremap <leader>'A "Ap
    nnoremap <leader>'B "Bp
    nnoremap <leader>'C "Cp
    nnoremap <leader>'D "Dp
    nnoremap <leader>'E "Ep
    nnoremap <leader>'F "Fp
    nnoremap <leader>'G "Gp
    nnoremap <leader>'H "Hp
    nnoremap <leader>'I "Ip
    nnoremap <leader>'J "Jp
    nnoremap <leader>'K "Kp
    nnoremap <leader>'L "Lp
    nnoremap <leader>'M "Mp
    nnoremap <leader>'N "Np
    nnoremap <leader>'O "Op
    nnoremap <leader>'P "Pp
    nnoremap <leader>'Q "Qp
    nnoremap <leader>'R "Rp
    nnoremap <leader>'S "Sp
    nnoremap <leader>'T "Tp
    nnoremap <leader>'U "Up
    nnoremap <leader>'V "Vp
    nnoremap <leader>'W "Wp
    nnoremap <leader>'X "Xp
    nnoremap <leader>'Y "Yp
    nnoremap <leader>'Z "Zp

    nnoremap <leader>20 @0
    nnoremap <leader>21 @1
    nnoremap <leader>22 @2
    nnoremap <leader>23 @3
    nnoremap <leader>24 @4
    nnoremap <leader>25 @5
    nnoremap <leader>26 @6
    nnoremap <leader>27 @7
    nnoremap <leader>28 @8
    nnoremap <leader>29 @9
    nnoremap <leader>2a @a
    nnoremap <leader>2b @b
    nnoremap <leader>2c @c
    nnoremap <leader>2d @d
    nnoremap <leader>2e @e
    nnoremap <leader>2f @f
    nnoremap <leader>2g @g
    nnoremap <leader>2h @h
    nnoremap <leader>2i @i
    nnoremap <leader>2j @j
    nnoremap <leader>2k @k
    nnoremap <leader>2l @l
    nnoremap <leader>2m @m
    nnoremap <leader>2n @n
    nnoremap <leader>2o @o
    nnoremap <leader>2p @p
    nnoremap <leader>2q @q
    nnoremap <leader>2r @r
    nnoremap <leader>2s @s
    nnoremap <leader>2t @t
    nnoremap <leader>2u @u
    nnoremap <leader>2v @v
    nnoremap <leader>2w @w
    nnoremap <leader>2x @x
    nnoremap <leader>2y @y
    nnoremap <leader>2z @z
    nnoremap <leader>2A @A
    nnoremap <leader>2B @B
    nnoremap <leader>2C @C
    nnoremap <leader>2D @D
    nnoremap <leader>2E @E
    nnoremap <leader>2F @F
    nnoremap <leader>2G @G
    nnoremap <leader>2H @H
    nnoremap <leader>2I @I
    nnoremap <leader>2J @J
    nnoremap <leader>2K @K
    nnoremap <leader>2L @L
    nnoremap <leader>2M @M
    nnoremap <leader>2N @N
    nnoremap <leader>2O @O
    nnoremap <leader>2P @P
    nnoremap <leader>2Q @Q
    nnoremap <leader>2R @R
    nnoremap <leader>2S @S
    nnoremap <leader>2T @T
    nnoremap <leader>2U @U
    nnoremap <leader>2V @V
    nnoremap <leader>2W @W
    nnoremap <leader>2X @X
    nnoremap <leader>2Y @Y
    nnoremap <leader>2Z @Z
" }}}

" Move and goto{{{
    " 嵌套映射匹配符(%)
    nmap <S-s> %
    " 行首和行尾
    nnoremap <S-l> $
    nnoremap <S-h> ^
    vnoremap <S-l> $
    vnoremap <S-h> ^
    " 复制到行首行尾
    nnoremap yL y$
    nnoremap yH y^
    " j, k 移行
    nnoremap j gj
    vnoremap j gj
    nnoremap k gk
    vnoremap k gk
    " 折叠
    nnoremap <leader>za zA
    nnoremap <leader>zc zC
    nnoremap <leader>zo zO
    nnoremap <leader>zm zM
    nnoremap <leader>zn zN
    nnoremap <leader>zr zR
    nnoremap <leader>zx zX
    " 滚屏
    nnoremap <C-j> <C-e>
    nnoremap <C-k> <C-y>
    nnoremap <A-j> <C-f>
    nnoremap <A-k> <C-b>
    nnoremap zh zt
    nnoremap zl zb
    nnoremap <A-h> 16zh
    nnoremap <A-l> 16zl
    " Tab切换
    nnoremap <A-i> gT
    nnoremap <A-o> gt
    " 位置跳转
    nnoremap <C-o> :action Back<CR>
    nnoremap <C-i> :action Forward<CR>
" }}}

" Window manager{{{
    " 分割窗口
    nnoremap <leader>ws <C-w>s
    nnoremap <leader>wv <C-W>v
    " 移动焦点
    nnoremap <leader>wc <C-w>c
    nnoremap <leader>wh <C-w>h
    nnoremap <leader>wj <C-w>j
    nnoremap <leader>wk <C-w>k
    nnoremap <leader>wl <C-w>l
    nnoremap <leader>wp <C-w>p
    nnoremap <leader>wP <C-w>P
    " 移动窗口
    nnoremap <leader>wH <C-w>H
    nnoremap <leader>wJ <C-w>J
    nnoremap <leader>wK <C-w>K
    nnoremap <leader>wL <C-w>L
    nnoremap <leader>wT <C-w>T
" }}}

" Codeing {{{
    nnoremap <leader>fi :action FindInPath<CR>
    nnoremap <leader>gd :action GotoImplementation<CR>
    nnoremap <leader>gD :action GotoDeclaration<CR>
    nnoremap <leader>gs :action GotoSuperMethod<CR>
    nnoremap <leader>cl :action CommentByLineComment<CR>
    nnoremap <leader>cu :action CommentByLineComment<CR>
" }}}
