extends _doxygen

snippet glsl-vert "vertex shader"
	`PkgLoadSnip('shader/quad.vert')`

snippet glsl-frag "fragment shader"
	`PkgLoadSnip('shader/quad.frag')`

snippet glsl-comp "compute shader"
	`PkgLoadSnip('shader/quad.comp')`

