# vim: ft=yaml

BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80

---
Language: Cpp
# public等属性对齐偏移
AccessModifierOffset: -4
AlignConsecutiveMacros: Consecutive
# 类构造函数初始化列表对方式
BreakConstructorInitializers: BeforeComma
# 指针和引用的位置
DerivePointerAlignment: false
PointerAlignment: Left
