
#===============================================================================
# ReStructuredText docstring style for python
#===============================================================================

snippet pfunc "python function"
"""${0:rst}
:Parameters:
:Returns:
:Raises:
"""
endsnippet
